body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    background-color: #f1f864;
    width: 100%;
    max-width: 480px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 10px;
}

header img {
    width: 150px;
}

.container {
    width: 100%;
    max-width: 480px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 0; /* Remove default padding and rely on container */
}

section {
    margin-bottom: 20px;
}

.artikel-unggulan h2,
.artikel-lainnya h2 {
    text-align: center;
    color: #21bf73; /* Main blue for headings */
}

.artikel-unggulan article {
    background-color: #fff;
    border: 1px solid #21bf73;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.artikel-unggulan article h3 {
    margin-top: 0;
}

.artikel-unggulan article img {
    width: 100%;
    margin-bottom: 10px;
}
