.container{
    width: 100%;
    max-width: 480px; 
    margin: 0 auto;
    padding: 20px;
}

.h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    font-weight: bold;
    color:#21BF73;
}
